.page.connection-failed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0 0 ($footer-height / 2) 0;
	
	display: table;

	.wrapper {
		display: table-cell;
		vertical-align: middle;

		&> article {
			@extend %clearfix;
			@include padding-trailer(6); // moved to "optical" center
			@include animation(slideDown 0.75s ease forwards);

			width: span(5);
			margin: 0 auto;
			text-align: center;

			p {
				@include margin-trailer(2);
			}
		}
	}

	.app-icon {
		$dim: 128px;

		@include padding-trailer(1.5);
		@include box-sizing(content-box);

		height: $dim;
		width: $dim;
		margin: 0 auto;

		opacity: 0.2;
	}

	a.btn {
		border-color: $green-color;
		display: inline-block;

		@include hover-green-background;
	}

	$delay: 0.15s;

	.app-icon,
	header,
	p,
	a.btn {
		@include animation-name(fadeIn);
		@include animation-duration(0.25s);
		@include animation-timing-function(ease);
		@include animation-fill-mode(forwards);

		opacity: 0;
	}

	header  {
		@include padding-trailer(0.5);
		@include animation-delay($delay * 1);

		font-weight: bold;
		font-style: italic;
		color: $dark-color;
	}

	p {
		@include animation-delay($delay * 0);

		a {
			color: $dark-color;

			&:hover {
				color: darken($dark-color, 15%);
			}
		}
	}

	.app-icon {
		@include animation-delay($delay * 2);
	}

	a.btn {
		@include animation-delay($delay * 3);
	}

}