.page.connection-failed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0 0 $footer-height 0;
	
	display: table;

	.wrapper {
		display: table-cell;
		vertical-align: middle;

		&> article {
			@extend %clearfix;
			@include padding-trailer(6); // moved to "optical" center

			width: span(5);
			margin: 0 auto;
			text-align: center;

			p {
				@include margin-trailer(2);
			}
		}
	}

	a.btn {
		border-color: $green-color;

		&:hover,
		&:focus,
		&:active {
			background-color: $green-color;
			color: #fff;
		}
	}

}