.menu {
	$icons-fill-color: lighten($menu-buttons-color, 10%);
	
	// fixes chrome rendering issue
	@include transform(translateZ(0));

	overflow: hidden;

	li {
		cursor: pointer;

		&:hover {
			span.icon:not(.icon-warning) svg:not(.current) use {
				fill: $icons-fill-color;
			}
		}
	}

	span.icon {
		&.icon-warning svg use {
			fill: $red-color;
		}
		
		svg {
			&.current use {
				//fill: lighten($menu-buttons-color, 30%);
				fill: $green-color;
			}

			use {
				@include transition(fill 0.15s ease);

				fill: mix($icons-fill-color, $menu-buttons-color);
			}
		}
	}
}

.menu:not(.route-index) {
	$squish: 1;
	$item-width: 4;
	$content-width: 3.5;
	$icon-dim: 70%;

	@include transition(max-height 5.25s ease);

	position: fixed;
	top: rhythm($search-form-padding * 2 + $search-form-height);
	left: 0;
	width: 100%;

	z-index: 400;

	background: $menu-background-color;
	color: $menu-color;
	max-height: 0;

	&.is-open {
		max-height: rhythm(15);
	}

	&:not(.is-open) nav > ul {
		margin-top: -10%;
		padding-bottom: 10%;
		opacity: 0;
	}

	nav {
		$duration: 0.15s;

		@include clearfix;
		@include pad($squish);
		@include padding-leader(2);
		@include padding-trailer(2);

		&> ul {
			@include clearfix;
			//@include container(12 center inside);

			@include transition(padding $duration ease, margin $duration ease, opacity $duration ease);
		
			opacity: 1;

			li {
				@include gallery($item-width of 12);

				&:hover {
					a {
						color: $green-color;
					}
				}

				position: relative;
				overflow: hidden;

				@include nested($item-width) {
					
					h2 {
						@include prefix(1);
						@include span($content-width);

						color: $menu-heading-color;
					}

					&> span.icon {
						@include span(1);

						position: relative;
						padding-bottom: span(1);

						svg {
							width: $icon-dim;
							max-height: $icon-dim;
							position: absolute;

							top: 0;
							left: (100% - $icon-dim) / 2;

							@include transform(none);
						}
					}

					&> div {
						@include span($content-width - 1); // width - icon

						&> a {
							@include margin-leader(1);
							@include icon-button($menu-heading-color, $green-color);

							display: inline-block;
						}
					}
				}
			}
		}
	}

	.menu-buttons {
		@include clearfix;
		@include pad(0.5);
		@include leading-border(1px);
		@include padding-trailer(1);

		border-color: $menu-divider-color;
		text-align: right;

		a {
			@include icon-button($menu-buttons-color, $menu-buttons-color-hover);

			text-transform: uppercase;
		}
	}
}