.badge {
	$onePixel: $badge-font-size * (1 / strip-units($badge-font-size));
	
	@include adjust-font-size-to($badge-font-size);
	@include transition(color 0.15s ease, background-color 0.15s ease);
	
	border-radius: rhythm(0.5, $badge-font-size);
	//border-radius: $base-line-height / 2;//$badge-border-radius;
	display: inline-block;
	padding-left: $base-leader * 1;
	padding-right: $base-leader * 1;
	color: $badge-color;
	background-color: $badge-background-color;
	font-weight: bold;

	padding-top: $onePixel;
	margin-bottom: -$onePixel;

	/*$top: $base-half-leader / 2;
	padding-top: $top;
	margin-top: -$top;

	$bottom: $base-half-leader / 10;
	padding-bottom: $bottom;
	margin-bottom: -$bottom;*/
	
	&.status-error,
	&.status-invalid {
		background-color: $red-color;
	}

	&.status-active,
	&.status-valid {
		background-color: $green-color;
	}

	.icon {
		margin-top: -$onePixel * 2;
		margin-bottom: -$onePixel;
		display: block;
		//padding-bottom: $onePixel;
		height: strip-units($base-line-height) / strip-units($badge-font-size) * 1rem;

		&.icon-loading use {
			//@include transition(none);
			@include animation(spin 2s linear infinite);
			@include transform-origin(center);
		}

		svg {
			max-height: 1rem;
			width: 1rem;

			use {
				fill: $badge-color;
			}
		}
	}
}