.badge {
	$onePixel: $badge-font-size * (1 / strip-units($badge-font-size));
	
	@include adjust-font-size-to($badge-font-size);
	@include transition(color 0.15s ease, background-color 0.15s ease);
	
	border-radius: rhythm(0.5, $badge-font-size);
	//border-radius: $base-line-height / 2;//$badge-border-radius;
	display: inline-block;
	padding-left: $base-leader * 1;
	padding-right: $base-leader * 1;
	color: $badge-color;
	background-color: $badge-background-color;
	font-weight: bold;

	padding-top: $onePixel;
	margin-bottom: -$onePixel;

	/*$top: $base-half-leader / 2;
	padding-top: $top;
	margin-top: -$top;

	$bottom: $base-half-leader / 10;
	padding-bottom: $bottom;
	margin-bottom: -$bottom;*/
	
	&.status-invalid {
		background-color: $red-color;
	}

	&.status-active {
		background-color: $green-color;
	}
}