button.btn {
	padding: 0;
	margin: 0;

	outline: none;
	box-sizing: border-box;

	border-radius: $button-border-radius;
	box-sizing: border-box;

	@include rhythm-borders($button-border-width, 0.25, $base-font-size, solid);

	padding-left: 2rem;
	padding-right: 2rem;

	&:before {
		@include adjust-font-size-to(19px);
		vertical-align: text-bottom;
		margin-right: gutter(0.25rem);
		margin-left: -0.5rem;
	}
}

a.btn {
	@extend button.btn;

	@include rhythm-borders($button-border-width, 0.5, $base-font-size, solid);

	cursor: pointer;
	color: $dark-color;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}