.download-progress-bar {
	$onePixel: (1 / strip-units($base-font-size)) * 1rem;
	$hoverDelay: 0.3s;
	$hover-height: 11;

	@include bleed-y(0.5rem);

	position: fixed;
	top: rhythm($search-form-padding * 2 + $search-form-height);
	left: 0;
	width: 100%;
	overflow: hidden;
	
	z-index: 100;

	&:hover {
		progress[value] {
			@include transition(margin 0.25s $hoverDelay ease, height 0.25s $hoverDelay ease);

			height: $hover-height * $onePixel;
			margin-top: $onePixel * -5;
		}
	}

	progress[value] {
		@include transition(margin 0.25s 0 ease, height 0.25s 0 ease);
		
		position: relative;
		z-index: 60;

		// Reset the default appearance
		-webkit-appearance: none;
		appearance: none;
		display: block;

		width: 100%;
		height: $onePixel * 3;
		margin-top: -$onePixel;

		&::-webkit-progress-bar {
			background-color: $input-border-color;
		}

		&::-webkit-progress-value {
			background-color: $green-color;
		}
	}

	.download-tooltip-target {
		position: absolute;
		
		height: $hover-height * $onePixel;
		width: $hover-height * $onePixel;
		top: $hover-height * $onePixel;
		margin-left: floor($hover-height / 2) * -$onePixel;
		z-index: 40;
	}
}