.inner-footer {
	@include margin-leader(3);
	@include padding-leader(1);
	@include padding-trailer(1);
	@include leading-border(1px);
	//@include squish(1);
	@include gutters(2rem inside);
	@include transition(opacity 0.25s ease);

	$color: mix($main-color, $dark-background-color, 75%);

	border-color: $input-border-color;
	text-align: center;
	
	@include icon-button(#fff, #fff);
	color: $color;
	//opacity: 0.5;

	&> section {
		$squish: 1;
		$nested: 12 - ($squish * 2);

		@include squish($squish);
		@extend %clearfix;

		@include nested($nested) {
			&> div  {
				@include gallery(4 of 12);

				text-align: center;

				&:first-child {
					text-align: left;
				}

				&:last-child {
					text-align: right;
				}
			}
		}
	}

	&:hover {
		color: $color;
	}
		/*opacity: 1;

		a {
			color: $dark-color;
		}

		.icon-logo svg use {
			fill: #fff !important;
		}
	}*/

	a {
		@include transition(color 0.15s ease);
		color: $main-color;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $dark-color;
			text-decoration: underline;
		}
	}

	.seperator {
		color: mix($color, $dark-background-color, 65%);
	}
}