.icon-btn {
	@include adjust-font-size-to($icon-button-font-size);

	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;

	svg use {
		@include transition(fill .25s ease);
		fill: $icon-color;
	}

	&:hover,
	&:focus {
		svg use {
			fill: $icon-color-hover;
		}
	}


	//transition: color 0.25s ease;

	/*&:before {	
		// @todo move to @icon mixin
		vertical-align: middle;
	}*/

	// - - - -
	
	//border-radius: $base-line-height / 2;
	//@include bleed(1/2);

	/*&[class*='bg-color'] {
		transition: color 0.25s ease;
	}*/
	//border: 1px solid red;
}