.icon-btn {
	@include adjust-font-size-to(23px);

	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;

	transition: color 0.25s ease;

	&:before {	
		// @todo move to @icon mixin
		vertical-align: middle;
	}

	// - - - -
	
	border-radius: $base-line-height / 2;
	@include bleed(1/2);

	&[class*='bg-color'] {
		transition: color 0.25s ease;
	}
}