.folder {
	$padding-top-bottom: 0.5;

	@include span(full);
	@include clearfix;
	@include padding-trailer($padding-top-bottom);
	@include bleed-x(1/8);
	@include padding-leader($padding-top-bottom);

	position: relative;
	transition: background-color 0.25s ease;

	&> i {
		@include span(1);
		@include adjust-font-size-to(28px);
		
		padding-top: rhythm(0.75);
		//font-size: 175%;
		//width: span(1);
		text-align: center;

		&.status-active {
			@include icon("elaboration-folder-check");
		}

		&.status-invalid {
			@include icon("elaboration-briefcase-remove");
		}
	}

	&> section {
		@include span(11 last);
	}

	.path {
		@include span(10);
	}

	.badge-wrapper {
		text-align: right;
		@include span(1 last);
	}

	&.status-invalid {
		//background-color: rgba(0, 0, 0, 0.1);
	}

	& + .folder {
		@include leading-border(1px, $padding-top-bottom);
	}

	.action-buttons {
		@include span(2 last);
		@include gutters(inside);

		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		padding-top: rhythm(1.75);
		opacity: 0.01;
		text-align: center;

		transition: background-color 0.25s ease;
		transition: opacity 0.25s ease;

		&.bg-active {
			opacity: 1;
		}	
	}

	.action-buttons .remove {
		@include icon("basic-trashcan");
		//background-color: pink;
	}
}