.tooltip-element.tooltip-theme-arrows.no-open-ports-notice-tooltip {
	.tooltip-content {
		@include rhythm-padding(0.5, 0.5);

		max-width: 25em;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		border-radius: $border-radius;
	}
}

// todo add delay to close-icon animation
.open-ports-handler {
	$close-icon-duration: 0.15s;
	$close-icon-hover-duration: 0.1s;
	$close-icon-hover-mix: 75%;

	@extend %clearfix;

	&.has-open-ports {
		@include margin-leader(1);

		a.add-port-button {
			@include icon-button();
			@include rhythm-padding(0.25);

			float: left;
		}
	}

	&:not(.has-open-ports) {
		ul.open-ports-list li:last-child {
			margin-right: 0;
		}

		a.add-port-button {
			@include icon-button;
			@extend button.btn;

			@include rhythm-borders($button-border-width, 0.5, $base-font-size, solid);
			@include transition(background-color $close-icon-duration ease, border-color $close-icon-duration ease, color $close-icon-duration ease);

			display: inline-block;
			text-align: center;
			
			background-color: $button-background-color;
			border-color: $button-border-color;

			&:hover,
			&:focus {
				background-color: $background-color-hover;
				border-color: $dark-color;
			}
		}
	}

	.no-open-ports-notice,
	.ports-changed-notice {
		@include margin-trailer(1);
	}

	.ports-changed-notice {
		@include padding-leader(0.25);
		@include padding-trailer(0.25);

		background-color: $dark-color;
		border-radius: $border-radius;
		color: #fff;
		font-style: $notice-font-style;
	}

	.no-open-ports-notice-button-wrapper {
		@include margin-trailer(1);
		
		.tooltip-target {
			@include transition(color 0.15s ease);

			color: $dark-color;
			display: inline-block;
			cursor: pointer;

			&:hover {
				color: darken($dark-color, 15%);
			}
		}
	}

	ul.open-ports-list {
		@include margin-trailer(1);

		float: left;

		li {
			@include rhythm-padding(0.25);

			position: relative;
			background-color: $open-ports-background-color;
			margin-right: 1rem;
			overflow: hidden;
			border-radius: $border-radius;
			float: left;			

			&:hover {
				.label {
					padding: 0 2.75rem 0 0.25rem;
				}

				.icon-btn {
					right: 0;
					background-color: mix($red-color, $open-ports-background-color, $close-icon-hover-mix);

					svg use {
						fill: mix(#fff, $open-ports-background-color, $close-icon-hover-mix);
					}
				}
			}

			.label {
				@include user-select(none);
				@include transition(padding $close-icon-duration ease);
				@include rhythm-padding(0.5);

				padding-left: 1.5rem;
				padding-right: 1.5rem;
				
				//padding: 0 1.5rem;
				color: $dark-color;
				cursor: default;
			}

			.icon-btn {
				@include transition(right $close-icon-duration ease, background-color $close-icon-duration ease);

				position: absolute;
				top: 0;
				right: -1.43478em;
				height: 100%;
				background-color: mix($red-color, $open-ports-background-color);
				padding: 0 0.25rem;
				outline: none;

				&:hover,
				&:focus {
					@include transition(background-color $close-icon-hover-duration ease);

					background-color: $red-color;

					svg use {
						fill: #fff;
					}
				}

				svg use {
					@include transition(color $close-icon-hover-duration ease);

					fill: mix(#fff, $open-ports-background-color);
				}
			}
		}
	}
}