$onePixel: (1 / strip-units($base-font-size)) * 1rem;

.download-progress-bar {
	$hoverDelay: 0.3s;
	$hover-height: 11;

	@include bleed-y(0.5rem);

	position: fixed;
	top: rhythm($search-form-padding * 2 + $search-form-height);
	left: 0;
	width: 100%;
	overflow: hidden;
	
	z-index: 600;

	&.has-downloads:hover {
		progress[value] {
			@include transition(margin 0.25s $hoverDelay ease, height 0.25s $hoverDelay ease);

			height: $hover-height * $onePixel;
			margin-top: $onePixel * -5;
		}
	}

	progress[value] {
		@include transition(margin 0.25s 0 ease, height 0.25s 0 ease);
		
		position: relative;
		z-index: 60;

		// Reset the default appearance
		-webkit-appearance: none;
		appearance: none;
		display: block;

		width: 100%;
		height: $onePixel * 3;
		margin-top: -$onePixel;

		&::-webkit-progress-bar {
			background-color: $input-border-color;
		}

		&::-webkit-progress-value {
			background-color: $green-color;
		}
	}

	.download-tooltip-target {
		position: absolute;
		
		height: $hover-height * $onePixel;
		width: $hover-height * $onePixel;
		top: $hover-height * $onePixel;
		margin-left: floor($hover-height / 2) * -$onePixel;
		z-index: 40;
	}
}

.download-progress-bar-tooltip {
	//border: 1px solid rgba($dark-background-color, 0.45);

	&:not(.tooltip-element-attached-center) .tooltip-content {
		&:before {
			bottom: 100%;
			left: 50%;
			margin-left: -$tooltip-arrow-size;
			border-bottom-color: #3c3c3c;
		}

		margin-top: $tooltip-arrow-size;
	}

	.tooltip-content {
		&> header {
			@extend %clearfix;

			h2 {
				float: left;
			}

			/*span {
				float: right;
			}*/
		}

		li {
			@include padding-leader(0.75);
			@include trailing-border(1px, 0.75);

			border-color: $tooltip-divider-color;

			&:last-child {
				margin-bottom: 0;
				border-bottom: none;
			}
		}

		.progress-bar-item {
			min-width: 500px;

			progress[value] {
				$background: darken($tooltip-background-color, 10%);
				$height: $onePixel * 2;
				$margin: (rhythm(1) /2) - strip-units($height);

				-webkit-appearance: none;
				appearance: none;
				display: block;
				width: 100%;
				height: $height;
				margin: $margin 0;

				&::-webkit-progress-bar {
					background-color: $background;
				}

				&::-webkit-progress-value {
					@include linear-gradient(to right, mix($background, $green-color, 20%), $green-color);
					background-color: $green-color;
				}
			}

			span {
				@include adjust-font-size-to(14px);
				font-style: italic;
				color: $tooltip-dark-color;

				&.speed {
					&:before {
						content: " (";
					}

					&:after {
						content: ")";
					}
				}

				&.time {
					&:before {
						content: " – ";
					}
				}
			}
		}
	}
}
