.welcome-handler {
	$squish: 3;

	@include squish($squish);
	@extend %clearfix;

	text-align: center;

	@include nested(12 - ($squish * 2)) {
		header {
			@include span(full);
			@include padding-leader(4);
			@include margin-trailer(0.5);

			@extend %clearfix;

			font-weight: bold;
			font-style: italic;
			color: $dark-color;
		}

		p {
			@include span(full);
		}
	}
}