%icon-button {
	@include transition(color 0.15s ease);

	&:hover,
	&:focus {
		text-decoration: none;
	}

	.icon {
		display: inline;
		width: $icon-button-dimension;
		height: $icon-button-dimension;
		
		svg {
			@include transform(none);

			width: $icon-button-dimension;
			height: $icon-button-dimension;
			vertical-align: text-bottom;
			top: 0;

			use {
				@include transition(fill 0.15s ease);
			}
		}
	}
}

@mixin icon-button($color: $main-color, $color-hover: $dark-color) {
	@extend %icon-button;

	color: $color;

	&:hover,
	&:focus {
		color: $color-hover;
	
		.icon svg use {
			fill: $color-hover;
		}
	}

	.icon svg use {
		fill: $color;
	}

}

// @see http://blog.teamtreehouse.com/a-better-clearfix-with-sass
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin visible-transition ($duration, $delay:0, $timing:linear) {
	visibility: visible;
	opacity: 1;
	transition: opacity $duration $timing $delay;
}

@mixin hidden-transition ($duration, $delay:0, $timing:linear) {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s $delay, opacity $duration $timing;
}