// Vertical Rhythm
// -------------------------------------//

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.375;
//$rhythm-unit: "rem";
$relative-font-sizing: false;
$round-to-nearest-half-line: true;


// Globals
// -------------------------------------//

$border-radius: 3px / $base-font-size * 1rem;
$background-animation-duration: 1.5s;
$background-color: #f0f0f0;
$background-color-hover: #fff;
$dark-background-color: #e6e6e6;


// Colors
// -------------------------------------//

$main-color: #6b6b6b;
$dark-color: #3c3c3c;
$h1-color: lighten($dark-color, 5%);
$green-color: #00d97e;
$red-color: #ff0045;

$input-border-color: #d2d2d2;
$input-border-color-hover: darken($input-border-color, 15%);


// Icons
// -------------------------------------//

$icon-button-font-size: 23px;
$icon-dimension: (24 / strip-units($base-font-size)) * 1rem;

$icon-color-light: #d2d2d2;
$icon-color: #5b5b5b;
$icon-color-hover: #141414;

$icon-button-dimension: 1.2em;


// Footer
// -------------------------------------//

$footer-height: 3rem;


// Button
// -------------------------------------//

$button-border-radius: $border-radius;
$button-border-width: 1px;

$button-background-color: $background-color;
$button-border-color: $input-border-color;


// Dialog
// -------------------------------------//

$dialog-border-radius: $base-font-size / 2;


// Badge
// -------------------------------------//

$badge-background-color: #a4a4a4;
$badge-color: #fff;
$badge-border-radius: $border-radius;
$badge-font-size: $base-font-size * (14 / strip-units($base-font-size));


// SearchForm
// -------------------------------------//

$search-form-squish: 2;
$search-form-height: 3;
$search-form-padding: 2;
$search-form-index-transition-duration: 0.55s;
$search-form-index-transition-timing-function: ease-in;
$search-form-index-transition-delay: 0.45s;


// SearchHeader
// -------------------------------------//

$search-header-height: $search-form-height + ($search-form-padding * 2);


// Menu
// -------------------------------------//

$menu-background-color: #3c3c3c;
$menu-color: #a4a4a4;
$menu-heading-color: #f0f0f0;
$menu-buttons-color: #595959;
$menu-buttons-color-hover: lighten($menu-buttons-color, 10%);
$menu-divider-color: #4f4f4f;


// Tooltip
// -------------------------------------//

$tooltip-background-color: $menu-background-color;
$tooltip-color: $menu-heading-color;
$tooltip-dark-color: $main-color;
$tooltip-middle-color: $menu-color;
$tooltip-divider-color: $menu-divider-color;


// SearchResults
// -------------------------------------//
$search-results-squish: 3;

$search-result-meta-background-color: #fafafa;
$search-result-meta-color: $input-border-color;
$search-result-border-color: $background-color;

// Share
// -------------------------------------//
$progress-background-color: darken($dark-background-color, 10%);