
// $Custom Font Weights
// 
// UltraLight	: 100			
// Thin			: 200						
// Light		: 300						
// Regular		: 400			
// SemiBold		: 500			
// Bold			: 600						
// Heavy		: 700						
// Black		: 800						
// 
// -------------------------------------//

$font-weight-ultra-light    : 100;
$font-weight-thin			: 200;
$font-weight-light			: 300;
$font-weight-regular		: 400;
$font-weight-semi-bold		: 500;
$font-weight-bold			: 600;
$font-weight-heavy			: 700;
$font-weight-black			: 800;


// Vertical Rhythm
// -------------------------------------//

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.6;
//$rhythm-unit: "rem";
$relative-font-sizing: false;
$round-to-nearest-half-line: true;

$wrapper-bg-alpha: 1;

// Globals
// -------------------------------------//

$base-color: #fff;

$border-radius: 3px / $base-font-size * 1rem;

$border-alpha: 0.15;
$border-color: rgba($base-color, $border-alpha);

$hover-alpha: 0.15;
$hover-color: rgba($base-color, $hover-alpha);

$active-alpha: 0.3;
$active-color: rgba($base-color, $active-alpha);


// Button
// -------------------------------------//

$button-border-radius: $border-radius;
$button-border-width: 1px;


// Badge
// -------------------------------------//

$badge-border-radius: $border-radius;