@import "../../../bower_components/modularized-normalize-scss/normalize";

@import "compass";
@import "compass/reset";
@import "compass/typography/vertical_rhythm";

@import "variables";
@import "fonts";
@import "grids";
@import "rhythm";
@import "stickyFooter";
@import "icons";

@import "../core/dialog/DialogHandler";
@import "../core/dialog/AddFolderDialog";

@import "../core/elements/Button";
@import "../core/elements/Badge";
@import "../core/elements/Dropzone";
@import "../core/elements/IconButton";
@import "../core/elements/Path";

// http://10consulting.com/2014/02/19/d3-plus-reactjs-for-charting/

@include sticky-footer(3rem);
@include border-box-sizing;

html {
	background-color: #000;
	color: #000;
}

body {
	@include container;

	background-image: none;

	font-family: "Aileron";
	font-weight: $font-weight-thin;
	-webkit-font-smoothing: antialiased;

	@import "../core/settings/Folder";
	@import "../core/settings/SharedFoldersHandler";

	//transition: transform 0.2s ease-out;
	transform-style: preserve-3d;
	perspective: 900px;

	transition: color $background-animation-duration linear, background-color $background-animation-duration linear !important;
}

.hidden {
	display: none;
}

#wrapper {
	//background-color: rgba(104, 0, 122, $wrapper-bg-alpha);
	//@include debug-vertical-alignment();
	//@include show-grid(overlay);

	transform-style: preserve-3d;
	transform-origin: 50% 100%;
	transition: transform 0.25s ease-out, background-color $background-animation-duration linear;
	perspective: 900px;
}

.dialog-open #wrapper {
	transform: rotateX(5deg);
}

.footer {
	@include squish(2);
}

* {
	background-color: transparent;
}

main {
	@include clearfix;
	@include padding-leader(3);
}

a {
	font-weight: $font-weight-regular;
	//color: #fff;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/*.settings,
.shared-folders-handler {
	//@include span(8);
	//@include pad(2);
	@include squish(2);
}*/

/*body {
	font-family: 'Aileron UltraLight';
}*/
/*
b,
strong {
	font-family: $strong-font-family;
}

a {
	font-family: $strong-font-family;
}*/