@import "../../../bower_components/modularized-normalize-scss/normalize";

@import "compass";
@import "compass/reset";
@import "compass/typography/vertical_rhythm";

@import "variables";
@import "fonts";
@import "grids";
@import "rhythm";

@import "../core/elements/Button";

// http://zoerooney.com/blog/web-development/clean-sticky-footer-sass-mixin/

//@import "_typeplate-vars";
//@import "../../../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

@include border-box-sizing;

body {
	@include container;

	font-family: "Aileron";
	font-weight: $font-weight-thin;

	background-color: rgb(104, 0, 122);
	color: #fff;
	-webkit-font-smoothing: antialiased;

	@import "../core/settings/SharedFoldersHandler";
}

main {
	background-color: rgba(104, 0, 122, .8);
	padding-top: rhythm(3);
}

a {
	font-weight: $font-weight-regular;
	color: #fff;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/*.settings,
.shared-folders-handler {
	//@include span(8);
	//@include pad(2);
	@include squish(2);
}*/

/*body {
	font-family: 'Aileron UltraLight';
}*/
/*
b,
strong {
	font-family: $strong-font-family;
}

a {
	font-family: $strong-font-family;
}*/