@import "../../../bower_components/modularized-normalize-scss/normalize";

@import "bourbon/bourbon";
@import "fonts";

@import "compass";
@import "compass/reset";
@import "compass/typography/vertical_rhythm";

@import "variables";
@import "animations";
@import "mixins";
@import "grids";
@import "rhythm";

@import "arrows";
@import "stickyFooter";
@import "icons";

//@import "../../icons/svg_output/icons";

@import "../core/dialog/DialogHandler";
//@import "../core/dialog/AddFolderDialog";

@import "../core/element/ListItem";
@import "../core/element/errorTour";
@import "../core/utils/DropzoneRenderer";

@import "../core/element/Button";
@import "../core/element/Badge";
//@import "../core/element/Dropzone";
@import "../core/element/IconButton";
@import "../core/element/Path";

@import "../core/tooltip/Tooltip";

@import "../core/resultTemplates/TextResult";

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@include sticky-footer($footer-height);
@include border-box-sizing;

body {
	background-color: $dark-background-color;

	@include container;

	font-family: "GandhiSans";
	//font-weight: $font-weight-thin;
	-webkit-font-smoothing: antialiased;

	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "kern";
	font-kerning: normal;

	color: $main-color;

	overflow-x: hidden;

	@import "../core/menu/Menu";
	@import "../core/menu/MenuButton";
	@import "../core/menu/MenuFlyout";

	@import "../core/search/SearchForm";
	@import "../core/search/SearchHeader";
	@import "../core/search/SearchHandler";
	@import "../core/search/SearchResults";

	@import "../core/settings/Folder";
	@import "../core/settings/SharedFoldersHandler";

	@import "../core/share/Download";
	@import "../core/share/DownloadProgressBar";
	@import "../core/share/Upload";
	@import "../core/share/ShareHandler";

	@import "../core/page/ConnectionFailedPage";

	//transition: transform 0.2s ease-out;
	/*transform-style: preserve-3d;
	perspective: 900px;*/

	//@include show-grid(overlay);

	//transition: color $background-animation-duration linear, background-color $background-animation-duration linear !important;
}

strong {
	font-weight: bold;
}

.hidden {
	display: none;
}

.icon {
	width: 100%;
	height: 100%;
	display: inline-block;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	svg {
		max-height: $icon-dimension;
		width: $icon-dimension;
		display: inline;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.tooltip {
	z-index: 900;
}

.dummy {
	height: 2000px;
	background-color: rgba(0,255,255, 0.1);
}

.page {
	@include squish(2);
	@include padding-leader(1);
	@include padding-trailer(1);
}

#wrapper {
	/*transform-style: preserve-3d;
	transform-origin: 50% 100%;
	transition: transform 0.25s ease-out, background-color $background-animation-duration linear;
	perspective: 900px;*/
	//@include show-grid();
	//@include debug-vertical-alignment();
}

.dialog-open #wrapper {
	transform: rotateX(5deg);
}

.footer {
	@include squish(2);
}

/** {
	background-color: transparent;
}*/

main {
	@extend %clearfix;
}

a {
	//font-weight: $font-weight-regular;
	//color: #fff;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/*.settings,
.shared-folders-handler {
	//@include span(8);
	//@include pad(2);
	@include squish(2);
}*/

/*body {
	font-family: 'Aileron UltraLight';
}*/
/*
b,
strong {
	font-family: $strong-font-family;
}

a {
	font-family: $strong-font-family;
}*/