.main.has-search-header {
	padding-top: rhythm($search-header-height);
}

.search-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;

	@include transition(transform 0.2s linear);

	&.index {
		height: 100%;
		background-color: rgba($background-color, 1);

		.download-progress-bar {
			display: none;
		}
	}

	&.headroom--pinned {
		@include transform(translateY(0%));
	}

	&.headroom--unpinned {
		@include transform(translateY(-100%));
	}
}