.main.has-search-header {
	padding-top: rhythm($search-header-height);
}

.search-header {
	$duration: $search-form-index-transition-duration;
	$timing: $search-form-index-transition-timing-function;
	$delay: $search-form-index-transition-delay;

	@include transition(transform 0.2s linear, height $duration $timing $delay);
	background-color: transparent;

	@extend %clearfix;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	height: rhythm(($search-form-padding * 2) + $search-form-height);

	&:not(.route-search) {
		@include transition(none);

		.animation-helper,
		.download-progress-bar {
			@include transition(none);
		}

	}

	&:not(.route-search).route-index {
		@include transition-property(transform);

		height: 100%;
		background-color: $background-color;

		.animation-helper {
			@include transition-property(none);

			top: 0;
			opacity: 1;
			height: 50%;
			padding-top: rhythm($search-form-padding);
		}

		.download-progress-bar {
			visibility: hidden;
			opacity: 0;
		}
	}

	.animation-helper {
		@include transition(opacity $duration $timing ($duration + $delay), height $duration $timing $delay, padding $duration $timing $delay);
		@include box-sizing(content-box);

		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		padding: 0;
		width: 100%;
		opacity: 0;
		background-color: $background-color;
		z-index: 400;
	}

	.download-progress-bar {
		@include visible-transition(0.25s, ($duration + $delay - 0.125s));
		//@include visible-transition(0.25s, 10s);
	}

	&.headroom--pinned {
		@include transform(translateY(0%));
	}

	&.headroom--unpinned {
		@include transform(translateY(-100%));
	}
}