.search-results-notification-wrapper {
	@include visible-transition;
	@include squish($search-results-squish);
	@extend %clearfix;

	position: relative;
	z-index: 200;

	.search-results-notification {
		@include padding-leader(1);
		@include padding-trailer(1);
		@include bleed-x(gutter(12 - ($search-results-squish * 2)));

		background-color: $search-results-notification-background;
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		color: $menu-color;

		.badge:not(.length-1) {
			padding: 0 0.35em;
		}

		a {
			@include transition(color 0.15s ease);

			color: $menu-heading-color;

			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}
}

.search-header:not(.route-index):not(.route-search) {
	.search-results-notification-wrapper {
		@include hidden-transition;
	}
}
.search-results {
	position: relative;

	.search-results-overlay {
		@include hidden-transition;

		position: fixed;
		background-color: rgba($dark-color, 0.9);
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		z-index: 45;

		&.active {
			@include visible-transition(0.5s);
		}

		.notice-wrapper {
			display: table;
			width: 100%;
			height: 100%;
			text-align: center;

			&> div {
				display: table-cell;
				vertical-align: middle;

				.badge-wrapper {
					display: inline-block;
					width: 200px;
					text-align: right;
					vertical-align: text-bottom;
				}

				.badge-wrapper,
				.network-loader-wrapper {
					margin-left: -100px;
				}

				.badge {
					font-size: rhythm(2);
				}

				.content {
					padding-left: $search-form-inner-padding;
					color: $menu-color;
					display: inline-block;
					text-align: left;
					width: span(5);

					h3 {
						color: $menu-heading-color;
					}
				}
			}
		}
	}

	.search-results-not-started-notice {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 40;
	}

	.search-results-not-found-wrapper {
		@include squish($search-results-squish);
		@extend %clearfix;

		@include nested(12 - ($search-results-squish * 2)) {
			.search-results-not-found {
				@include margin-leader(2);
				@include padding-leader(1);
				@include padding-trailer(1);
				@include gutters($search-result-inner-padding inside);

				background-color: $background-color;
				border-radius: $border-radius;
			}
		}
	}

	.search-results-list {
		@include squish($search-results-squish);
		@extend %clearfix;

		@include padding-leader(2);
		@include padding-trailer(2);

		@include nested(12 - ($search-results-squish * 2)) {
			li {
				@include margin-trailer(1.5);

				position: relative;

				background-color: $background-color-hover;
				border-radius: $border-radius;

				&:last-child {
					margin-bottom: 0;
				}

				.download-progress {
					position: absolute;
					width: 100%;
					bottom: 0;
					z-index: 10;

					height: 34%;
					background-color: $green-color;

					opacity: 1;

					display: none;

					&:hover {
						opacity: 0.2;
					}
				}

				.result-content {
				}

				footer.meta {
					@extend %clearfix;

					//@include gutters(2rem inside);
					background-color: $search-result-meta-background-color;
					color: $search-result-meta-color;

					border-top: 1px solid;
					border-color: $search-result-border-color;
					line-height: 250%;
					text-align: right;
					border-bottom-right-radius: $border-radius;
					border-bottom-left-radius: $border-radius;
					overflow: hidden;

					.seperator {
						color: mix($search-result-meta-color, $search-result-meta-background-color, 75%);
					}

					.result-meta {
						@include span(3);
						@include gutters($search-result-inner-padding inside);

						.created {
							font-style: italic;
						}

						text-align: left;
					}

					.download-btn-wrapper {
						@include span(3 last);
					}
				}
			}
		}
	}
}