.search-handler {
	$squish: 2;

	@extend %clearfix;

	.network-speed-chart {
		@include span(full);

		position: absolute;
		left: 0;
		bottom: $footer-height;
		height: rhythm(10);
		overflow: visible;

		
		.line {
			fill: none;
			stroke: $main-color;

			&.upload {
  				stroke-width: 1.75px;
  			}

  			&.download {
  				stroke-width: 4px;
  			}

  			&.background {
  				stroke-width: 1.5px;
  			}
  		}
	}
}