@include font-face("linea-software", font-files(
		"linea-software-10.woff",
		"linea-software-10.ttf",
		"linea-software-10.svg"
	), "linea-software-10.eot", normal, normal);

$icons-software: (
	add-vectorpoint					: "a",
	box-oval						: "b",
	box-polygon						: "c",
	box-rectangle					: "d",
	box-roundedrectangle			: "e",
	character						: "f",
	crop							: "g",
	eyedropper						: "h",
	font-allcaps					: "i",
	font-baseline-shift				: "j",
	font-horizontal-scale			: "k",
	font-kerning					: "l",
	font-leading					: "m",
	font-size						: "n",
	font-smallcapital				: "o",
	font-smallcaps					: "p",
	font-strikethrough				: "q",
	font-tracking					: "r",
	font-underline					: "s",
	font-vertical-scale				: "t",
	horizontal-align-center			: "u",
	horizontal-align-left			: "v",
	horizontal-align-right			: "w",
	horizontal-distribute-center	: "x",
	horizontal-distribute-left		: "y",
	horizontal-distribute-right		: "z",
	indent-firstline				: "A",
	indent-left						: "B",
	indent-right					: "C",
	lasso							: "D",
	layers1							: "E",
	layers2							: "F",
	layout							: "G",
	layout-2columns					: "H",
	layout-3columns					: "I",
	layout-4boxes					: "J",
	layout-4columns					: "K",
	layout-4lines					: "L",
	layout-8boxes					: "M",
	layout-header					: "N",
	layout-header-2columns			: "O",
	layout-header-3columns			: "P",
	layout-header-4boxes			: "Q",
	layout-header-4columns			: "R",
	layout-header-complex			: "S",
	layout-header-complex2			: "T",
	layout-header-complex3			: "U",
	layout-header-complex4			: "V",
	layout-header-sideleft			: "W",
	layout-header-sideright			: "X",
	layout-sidebar-left				: "Y",
	layout-sidebar-right			: "Z",
	magnete							: "0",
	pages							: "1",
	paintbrush						: "2",
	paintbucket						: "3",
	paintroller						: "4",
	paragraph						: "5",
	paragraph-align-left			: "6",
	paragraph-align-right			: "7",
	paragraph-center				: "8",
	paragraph-justify-all			: "9",
	paragraph-justify-center		: "!",
	paragraph-justify-left			: "\"",
	paragraph-justify-right			: "#",
	paragraph-space-after			: "$",
	paragraph-space-before			: "%",
	pathfinder-exclude				: "&",
	pathfinder-intersect			: "'",
	pathfinder-subtract				: "(",
	pathfinder-unite				: ")",
	pen								: "*",
	pen-add							: "+",
	pen-remove						: ",",
	pencil							: "-",
	polygonallasso					: ".",
	reflect-horizontal				: "/",
	reflect-vertical				: ":",
	remove-vectorpoint				: ";",
	scale-expand					: "<",
	scale-reduce					: "=",
	selection-oval					: ">",
	selection-polygon				: "?",
	selection-rectangle				: "@",
	selection-roundedrectangle		: "[",
	shape-oval						: "]",
	shape-polygon					: "^",
	shape-rectangle					: "_",
	shape-roundedrectangle			: "`",
	slice							: "{",
	transform-bezier				: "|",
	vector-box						: "}",
	vector-composite				: "~",
	vector-line						: "\\",
	vertical-align-bottom			: "\e000",
	vertical-align-center			: "\e001",
	vertical-align-top				: "\e002",
	vertical-distribute-bottom		: "\e003",
	vertical-distribute-center		: "\e004",
	vertical-distribute-top			: "\e005"
)