@include font-face("linea-weather", font-files(
		"linea-weather-10.woff",
		"linea-weather-10.ttf",
		"linea-weather-10.svg"
	), "linea-weather-10.eot", normal, normal);

$icons-weather: (
	aquarius			: "\e000",
	aries				: "\e001",
	cancer				: "\e002",
	capricorn			: "\e003",
	cloud				: "\e004",
	cloud-drop			: "\e005",
	cloud-lightning		: "\e006",
	cloud-snowflake		: "\e007",
	downpour-fullmoon	: "\e008",
	downpour-halfmoon	: "\e009",
	downpour-sun		: "\e00a",
	drop				: "\e00b",
	first-quarter		: "\e00c",
	fog					: "\e00d",
	fog-fullmoon		: "\e00e",
	fog-halfmoon		: "\e00f",
	fog-sun				: "\e010",
	fullmoon			: "\e011",
	gemini				: "\e012",
	hail				: "\e013",
	hail-fullmoon		: "\e014",
	hail-halfmoon		: "\e015",
	hail-sun			: "\e016",
	last-quarter		: "\e017",
	leo					: "\e018",
	libra				: "\e019",
	lightning			: "\e01a",
	mistyrain			: "\e01b",
	mistyrain-fullmoon	: "\e01c",
	mistyrain-halfmoon	: "\e01d",
	mistyrain-sun		: "\e01e",
	moon				: "\e01f",
	moondown-full		: "\e020",
	moondown-half		: "\e021",
	moonset-full		: "\e022",
	moonset-half		: "\e023",
	move2				: "\e024",
	newmoon				: "\e025",
	pisces				: "\e026",
	rain				: "\e027",
	rain-fullmoon		: "\e028",
	rain-halfmoon		: "\e029",
	rain-sun			: "\e02a",
	sagittarius			: "\e02b",
	scorpio				: "\e02c",
	snow				: "\e02d",
	snow-fullmoon		: "\e02e",
	snow-halfmoon		: "\e02f",
	snow-sun			: "\e030",
	snowflake			: "\e031",
	star				: "\e032",
	storm-11			: "\e033",
	storm-32			: "\e034",
	storm-fullmoon		: "\e035",
	storm-halfmoon		: "\e036",
	storm-sun			: "\e037",
	sun					: "\e038",
	sundown				: "\e039",
	sunset				: "\e03a",
	taurus				: "\e03b",
	tempest				: "\e03c",
	tempest-fullmoon	: "\e03d",
	tempest-halfmoon	: "\e03e",
	tempest-sun			: "\e03f",
	variable-fullmoon	: "\e040",
	variable-halfmoon	: "\e041",
	variable-sun		: "\e042",
	virgo				: "\e043",
	waning-cresent		: "\e044",
	waning-gibbous		: "\e045",
	waxing-cresent		: "\e046",
	waxing-gibbous		: "\e047",
	wind				: "\e048",
	wind-e				: "\e049",
	wind-fullmoon		: "\e04a",
	wind-halfmoon		: "\e04b",
	wind-n				: "\e04c",
	wind-ne				: "\e04d",
	wind-nw				: "\e04e",
	wind-s				: "\e04f",
	wind-se				: "\e050",
	wind-sun			: "\e051",
	wind-sw				: "\e052",
	wind-w				: "\e053",
	windgust			: "\e054"
)