@include font-face("linea-basic", font-files(
		"linea-basic-10.woff",
		"linea-basic-10.ttf",
		"linea-basic-10.svg"
	), "linea-basic-10.eot", normal, normal);

$icons-basic: (
	accelerator				:"a",
	alarm					:"b",
	anchor					:"c",
	anticlockwise			:"d",
	archive					:"e",
	archive-full			:"f",
	ban						:"g",
	battery-charge			:"h",
	battery-empty			:"i",
	battery-full			:"j",
	battery-half			:"k",
	bolt					:"l",
	book					:"m",
	book-pen				:"n",
	book-pencil				:"o",
	bookmark				:"p",
	calculator				:"q",
	calendar				:"r",
	cards-diamonds			:"s",
	cards-hearts			:"t",
	case					:"u",
	chronometer				:"v",
	clessidre				:"w",
	clock					:"x",
	clockwise				:"y",
	cloud					:"z",
	clubs					:"A",
	compass					:"B",
	cup						:"C",
	diamonds				:"D",
	display					:"E",
	download				:"F",
	exclamation				:"G",
	eye						:"H",
	eye-closed				:"I",
	female					:"J",
	flag1					:"K",
	flag2					:"L",
	floppydisk				:"M",
	folder					:"N",
	folder-multiple			:"O",
	gear					:"P",
	geolocalize-01			:"Q",
	geolocalize-05			:"R",
	globe					:"S",
	gunsight				:"T",
	hammer					:"U",
	headset					:"V",
	heart					:"W",
	heart-broken			:"X",
	helm					:"Y",
	home					:"Z",
	info					:"0",
	ipod					:"1",
	joypad					:"2",
	key						:"3",
	keyboard				:"4",
	laptop					:"5",
	life-buoy				:"6",
	lightbulb				:"7",
	link					:"8",
	lock					:"9",
	lock-open				:"!",
	magic-mouse				:"\"",
	magnifier				:"#",
	magnifier-minus			:"$",
	magnifier-plus			:"%",
	mail					:"&",
	mail-multiple			:"'",
	mail-open				:"(",
	mail-open-text			:")",
	male					:"*",
	map						:"+",
	message					:",",
	message-multiple		:"-",
	message-txt				:".",
	mixer2					:"/",
	mouse					:":",
	notebook				:";",
	notebook-pen			:"<",
	notebook-pencil			:"=",
	paperplane				:">",
	pencil-ruler			:"?",
	pencil-ruler-pen		:"@",
	photo					:"[",
	picture					:"]",
	picture-multiple		:"^",
	pin1					:"_",
	pin2					:"`",
	postcard				:"{",
	postcard-multiple		:"|",
	printer					:"}",
	question				:"~",
	rss						:"\\",
	server					:"\e000",
	server2					:"\e001",
	server-cloud			:"\e002",
	server-download			:"\e003",
	server-upload			:"\e004",
	settings				:"\e005",
	share					:"\e006",
	sheet					:"\e007",
	sheet-multiple			:"\e008",
	sheet-pen				:"\e009",
	sheet-pencil			:"\e00a",
	sheet-txt				:"\e00b",
	signs					:"\e00c",
	smartphone				:"\e00d",
	spades					:"\e00e",
	spread					:"\e00f",
	spread-bookmark			:"\e010",
	spread-text				:"\e011",
	spread-text-bookmark	:"\e012",
	star					:"\e013",
	tablet					:"\e014",
	target					:"\e015",
	todo					:"\e016",
	todo-pen				:"\e017",
	todo-pencil				:"\e018",
	todo-txt				:"\e019",
	todolist-pen			:"\e01a",
	todolist-pencil			:"\e01b",
	trashcan				:"\e01c",
	trashcan-full			:"\e01d",
	trashcan-refresh		:"\e01e",
	trashcan-remove			:"\e01f",
	upload					:"\e020",
	usb						:"\e021",
	video					:"\e022",
	watch					:"\e023",
	webpage					:"\e024",
	webpage-img-txt			:"\e025",
	webpage-multiple		:"\e026",
	webpage-txt				:"\e027",
	world					:"\e028"
)