@include font-face("linea-elaboration", font-files(
		"linea-basic-elaboration-10.woff",
		"linea-basic-elaboration-10.ttf",
		"linea-basic-elaboration-10.svg"
	), "linea-basic-elaboration-10.eot", normal, normal);

$icons-basic-elaboration: (
	bookmark-checck		:"a",			
	bookmark-minus		:"b",			
	bookmark-plus		:"c",		
	bookmark-remove		:"d",			
	briefcase-check		:"e",			
	briefcase-download	:"f",			
	briefcase-flagged	:"g",		
	briefcase-minus		:"h",			
	briefcase-plus		:"i",			
	briefcase-refresh	:"j",		
	briefcase-remove	:"k",		
	briefcase-search	:"l",		
	briefcase-star		:"m",			
	briefcase-upload	:"n",		
	browser-check		:"o",		
	browser-download	:"p",		
	browser-minus		:"q",		
	browser-plus		:"r",		
	browser-refresh		:"s",			
	browser-remove		:"t",			
	browser-search		:"u",			
	browser-star		:"v",		
	browser-upload		:"w",			
	calendar-check		:"x",			
	calendar-cloud		:"y",			
	calendar-download	:"z",		
	calendar-empty		:"A",			
	calendar-flagged	:"B",		
	calendar-heart		:"C",			
	calendar-minus		:"D",			
	calendar-next		:"E",		
	calendar-noaccess	:"F",		
	calendar-pencil		:"G",			
	calendar-plus		:"H",		
	calendar-previous	:"I",		
	calendar-refresh	:"J",		
	calendar-remove		:"K",			
	calendar-search		:"L",			
	calendar-star		:"M",		
	calendar-upload		:"N",
	cloud-check			:"O",
	cloud-download		:"P",
	cloud-minus			:"Q",
	cloud-noaccess		:"R",
	cloud-plus			:"S",
	cloud-refresh		:"T",
	cloud-remove		:"U",
	cloud-search		:"V",
	cloud-upload		:"W",
	document-check		:"X",
	document-cloud		:"Y",
	document-download	:"Z",
	document-flagged	:"0",
	document-graph		:"1",
	document-heart		:"2",
	document-minus		:"3",
	document-next		:"4",
	document-noaccess	:"5",
	document-note		:"6",
	document-pencil		:"7",
	document-picture	:"8",
	document-plus		:"9",
	document-previous	:"!",
	document-refresh	:"\"",
	document-remove		:"#",
	document-search		:"$",
	document-star		:"%",
	document-upload		:"&",
	folder-check		:"'",
	folder-cloud		:"(",
	folder-document		:")",
	folder-download		:"*",
	folder-flagged		:"+",
	folder-graph		:",",
	folder-heart		:"-",
	folder-minus		:".",
	folder-next			:"/",
	folder-noaccess		:":",
	folder-note			:";",
	folder-pencil		:"<",
	folder-picture		:"=",
	folder-plus			:">",
	folder-previous		:"?",
	folder-refresh		:"@",
	folder-remove		:"[",
	folder-search		:"]",
	folder-star			:"^",
	folder-upload		:"_",
	mail-check			:"`",
	mail-cloud			:"{",
	mail-document		:"|",
	mail-download		:"}",
	mail-flagged		:"~",
	mail-heart			:"\\",
	mail-next			:"\e000",
	mail-noaccess		:"\e001",
	mail-note			:"\e002",
	mail-pencil			:"\e003",
	mail-picture		:"\e004",
	mail-previous		:"\e005",
	mail-refresh		:"\e006",
	mail-remove			:"\e007",
	mail-search			:"\e008",
	mail-star			:"\e009",
	mail-upload			:"\e00a",
	message-check		:"\e00b",
	message-dots		:"\e00c",
	message-happy		:"\e00d",
	message-heart		:"\e00e",
	message-minus		:"\e00f",
	message-note		:"\e010",
	message-plus		:"\e011",
	message-refresh		:"\e012",
	message-remove		:"\e013",
	message-sad			:"\e014",
	smartphone-cloud	:"\e015",
	smartphone-heart	:"\e016",
	smartphone-noaccess	:"\e017",
	smartphone-note		:"\e018",
	smartphone-pencil	:"\e019",
	smartphone-picture	:"\e01a",
	smartphone-refresh	:"\e01b",
	smartphone-search	:"\e01c",
	tablet-cloud		:"\e01d",
	tablet-heart		:"\e01e",
	tablet-noaccess		:"\e01f",
	tablet-note			:"\e020",
	tablet-pencil		:"\e021",
	tablet-picture		:"\e022",
	tablet-refresh		:"\e023",
	tablet-search		:"\e024",
	todolist-2			:"\e025",
	todolist-check		:"\e026",
	todolist-cloud		:"\e027",
	todolist-download	:"\e028",
	todolist-flagged	:"\e029",
	todolist-minus		:"\e02a",
	todolist-noaccess	:"\e02b",
	todolist-pencil		:"\e02c",
	todolist-plus		:"\e02d",
	todolist-refresh	:"\e02e",
	todolist-remove		:"\e02f",
	todolist-search		:"\e030",
	todolist-star		:"\e031",
	todolist-upload		:"\e032"		
)