@include font-face("linea-ecommerce", font-files(
		"linea-ecommerce-10.woff",
		"linea-ecommerce-10.ttf",
		"linea-ecommerce-10.svg"
	), "linea-ecommerce-10.eot", normal, normal);

$icons-ecommerce: (
	bag				: "a",
	bag-check		: "b",
	bag-cloud		: "c",
	bag-download	: "d",
	bag-minus		: "e",
	bag-plus		: "f",
	bag-refresh		: "g",
	bag-remove		: "h",
	bag-search		: "i",
	bag-upload		: "j",
	banknote		: "k",
	banknotes		: "l",
	basket			: "m",
	basket-check	: "n",
	basket-cloud	: "o",
	basket-download	: "p",
	basket-minus	: "q",
	basket-plus		: "r",
	basket-refresh	: "s",
	basket-remove	: "t",
	basket-search	: "u",
	basket-upload	: "v",
	bath			: "w",
	cart			: "x",
	cart-check		: "y",
	cart-cloud		: "z",
	cart-content	: "A",
	cart-download	: "B",
	cart-minus		: "C",
	cart-plus		: "D",
	cart-refresh	: "E",
	cart-remove		: "F",
	cart-search		: "G",
	cart-upload		: "H",
	cent			: "I",
	colon			: "J",
	creditcard		: "K",
	diamond			: "L",
	dollar			: "M",
	euro			: "N",
	franc			: "O",
	gift			: "P",
	graph1			: "Q",
	graph2			: "R",
	graph3			: "S",
	graph-decrease	: "T",
	graph-increase	: "U",
	guarani			: "V",
	kips			: "W",
	lira			: "X",
	megaphone		: "Y",
	money			: "Z",
	naira			: "0",
	pesos			: "1",
	pound			: "2",
	receipt			: "3",
	receipt-bath	: "4",
	receipt-cent	: "5",
	receipt-dollar	: "6",
	receipt-euro	: "7",
	receipt-franc	: "8",
	receipt-guarani	: "9",
	receipt-kips	: "!",
	receipt-lira	: "\"",
	receipt-naira	: "#",
	receipt-pesos	: "$",
	receipt-pound	: "%",
	receipt-rublo	: "&",
	receipt-rupee	: "'",
	receipt-tugrik	: "(",
	receipt-won		: ")",
	receipt-yen		: "*",
	receipt-yen2	: "+",
	recept-colon	: ",",
	rublo			: "-",
	rupee			: ".",
	safe			: "/",
	sale			: ":",
	sales			: ";",
	ticket			: "<",
	tugriks			: "=",
	wallet			: ">",
	won				: "?",
	yen				: "@",
	yen2			: "["
)