@include font-face("linea-arrows", font-files(
		"linea-arrows-10.woff",
		"linea-arrows-10.ttf",
		"linea-arrows-10.svg"
	), "linea-arrows-10.eot", normal, normal);

$icons-arrows: (
	anticlockwise			:"\e000",
	anticlockwise-dashed	:"\e001",
	button-down				:"\e002",
	button-off				:"\e003",
	button-on				:"\e004",
	button-up				:"\e005",
	check					:"\e006",
	circle-check			:"\e007",
	circle-down				:"\e008",
	circle-downleft			:"\e009",
	circle-downright		:"\e00a",
	circle-left				:"\e00b",
	circle-minus			:"\e00c",
	circle-plus				:"\e00d",
	circle-remove			:"\e00e",
	circle-right			:"\e00f",
	circle-up				:"\e010",
	circle-upleft			:"\e011",
	circle-upright			:"\e012",
	clockwise				:"\e013",
	clockwise-dashed		:"\e014",
	compress				:"\e015",
	deny					:"\e016",
	diagonal				:"\e017",
	diagonal2				:"\e018",
	down					:"\e019",
	down-double				:"\e01a",
	downleft				:"\e01b",
	downright				:"\e01c",
	drag-down				:"\e01d",
	drag-down-dashed		:"\e01e",
	drag-horiz				:"\e01f",
	drag-left				:"\e020",
	drag-left-dashed		:"\e021",
	drag-right				:"\e022",
	drag-right-dashed		:"\e023",
	drag-up					:"\e024",
	drag-up-dashed			:"\e025",
	drag-vert				:"\e026",
	exclamation				:"\e027",
	expand					:"\e028",
	expand-diagonal1		:"\e029",
	expand-horizontal1		:"\e02a",
	expand-vertical1		:"\e02b",
	fit-horizontal			:"\e02c",
	fit-vertical			:"\e02d",
	glide					:"\e02e",
	glide-horizontal		:"\e02f",
	glide-vertical			:"\e030",
	hamburger1				:"\e031",
	hamburger-2				:"\e032",
	horizontal				:"\e033",
	info					:"\e034",
	keyboard-alt			:"\e035",
	keyboard-cmd			:"\e036",
	keyboard-delete			:"\e037",
	keyboard-down			:"\e038",
	keyboard-left			:"\e039",
	keyboard-return			:"\e03a",
	keyboard-right			:"\e03b",
	keyboard-shift			:"\e03c",
	keyboard-tab			:"\e03d",
	keyboard-up				:"\e03e",
	left					:"\e03f",
	left-double-32			:"\e040",
	minus					:"\e041",
	move					:"\e042",
	move2					:"\e043",
	move-bottom				:"\e044",
	move-left				:"\e045",
	move-right				:"\e046",
	move-top				:"\e047",
	plus					:"\e048",
	question				:"\e049",
	remove					:"\e04a",
	right					:"\e04b",
	right-double			:"\e04c",
	rotate					:"\e04d",
	rotate-anti				:"\e04e",
	rotate-anti-dashed		:"\e04f",
	rotate-dashed			:"\e050",
	shrink					:"\e051",
	shrink-diagonal1		:"\e052",
	shrink-diagonal2		:"\e053",
	shrink-horizonal2		:"\e054",
	shrink-horizontal1		:"\e055",
	shrink-vertical1		:"\e056",
	shrink-vertical2		:"\e057",
	sign-down				:"\e058",
	sign-left				:"\e059",
	sign-right				:"\e05a",
	sign-up					:"\e05b",
	slide-down1				:"\e05c",
	slide-down2				:"\e05d",
	slide-left1				:"\e05e",
	slide-left2				:"\e05f",
	slide-right1			:"\e060",
	slide-right2			:"\e061",
	slide-up1				:"\e062",
	slide-up2				:"\e063",
	slim-down				:"\e064",
	slim-down-dashed		:"\e065",
	slim-left				:"\e066",
	slim-left-dashed		:"\e067",
	slim-right				:"\e068",
	slim-right-dashed		:"\e069",
	slim-up					:"\e06a",
	slim-up-dashed			:"\e06b",
	square-check			:"\e06c",
	square-down				:"\e06d",
	square-downleft			:"\e06e",
	square-downright		:"\e06f",
	square-left				:"\e070",
	square-minus			:"\e071",
	square-plus				:"\e072",
	square-remove			:"\e073",
	square-right			:"\e074",
	square-up				:"\e075",
	square-upleft			:"\e076",
	square-upright			:"\e077",
	squares					:"\e078",
	stretch-diagonal1		:"\e079",
	stretch-diagonal2		:"\e07a",
	stretch-diagonal3		:"\e07b",
	stretch-diagonal4		:"\e07c",
	stretch-horizontal1		:"\e07d",
	stretch-horizontal2		:"\e07e",
	stretch-vertical1		:"\e07f",
	stretch-vertical2		:"\e080",
	switch-horizontal		:"\e081",
	switch-vertical			:"\e082",
	up						:"\e083",
	up-double-33			:"\e084",
	upleft					:"\e085",
	upright					:"\e086",
	vertical				:"\e087"
)